{% extends 'main.html' %}
{% block content %}

<style>
    .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            justify-content: space-between;
        }
</style>
<div class="home-container">
    <!-- left sidebar for topics -->
    <div>
        {% include 'base/component/topics.html' %}
    </div>
    <!-- right sidebar for rooms -->
    <div>
        {% include 'base/component/feed.html' %}
    </div>

    <!-- recent activity -->
     <div>
   {% include 'base/component/activity.html' %}
</div>
</div>
   {% endblock content %}


